@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: linear-gradient(to top, #004780 65%, #1c7ac7 100%);
}

#app {
  height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;

  color: #fff;
}
